body { 
background-size: cover;
 background-image: url("https://cdn.pixabay.com/photo/2020/06/03/15/20/landscape-5255326_1280.jpg");
 background-color: #FF8F00;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
   color: #000000; 
 }

li {
  display: inline;
}



